{% extends 'foodie_finds/layouts/main.html' %}
{% load static %}
{% block 'title' %}
foodie_finds
{% endblock 'title' %}

{% block 'content' %}
<section class="bd-light py-4 my-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h4 class="mb-3">{{category_name}}</h4>
                <hr style="border-color:#b8bfc2;">
            </div>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                  <li class="breadcrumb-item"><a href="{% url 'collections' %}">Categories</a></li>
                  <li class="breadcrumb-item">{{products.catagory.name}}</li>
                </ol>
              </nav>
            {% for item in products %}
            <div class="col-md-4 col-lg-3">
                <div class="card my-3">
                    <img src="{{item.product_image.url}}" class="card-image-top" alt="Categories">
                    <a href="{% url 'product_details' category_name item.name %}">
                    <div class="card-body">
                        <h5 class="card-title text-primary">{{item.name}}</h5>
                        <p class="card-text">
                            <span class="float-start" style="font-weight:bold;color:red;">Rs.<s>{{item.orginal_price}}</s></span>
                            <span class="float-end" style="font-weight:bold;color:white;background-color:blue;padding:2px;border-radius:5;">Rs.{{item.price_for_you}}</span>
                        </p>
                    </div>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock 'content' %}