<footer class="text-center text-lg-start bg-dark text-white">
    <section class="container d-flex justify-content-center justify-content-lg-between p-4">
        <div class="me-5 d-none d-lg-block">
            <span>get connected with us on social network</span>
        </div>
        <div>
            <a href="" class="me-4 text-reset"><i class="fa fa-facebook"></i></a>
            <a href="" class="me-4 text-reset"><i class="fa fa-twitter"></i></a>
            <a href="" class="me-4 text-reset"><i class="fa fa-skype"></i></a>
            <a href="" class="me-4 text-reset"><i class="fa fa-instagram"></i></a>
            <a href="" class="me-4 text-reset"><i class="fa fa-pinterest"></i></a>
            <a href="" class="me-4 text-reset"><i class="fa fa-snapchat"></i></a>
        </div>
    </section>

    <section class="">
        <div class="container text-center text-md-start mt-5">
            <div class="row mt-3">
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <h6 class="text-uppercase fa-bold mb-4"><i class="fa fa-pie-chart"></i>foodie finds</h6>
                    <p> foodie finds.com is one stop destination to order your favourite foods for your family dinner, friends gathering or even for a marriage kind of functions</p>
                </div>
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto ab-4">
                    <h6 class="text-uppercase fa-bold mb-4">our other sites for your service</h6>
                    <p><a href="#!" class="text-reset">cravings24.com</a></p>
                    <p><a href="#!" class="text-reset">cravings_mart.com</a></p>
                    <p><a href="#!" class="text-reset">carvings_dairys.com</a></p>
                    <p><a href="#!" class="text-reset">carvings_nuts.com</a></p>
                </div>
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto ab-4">
                    <h6 class="text-uppercase fa-bold mb-4">Special recipes</h6>
                    <p><a href="#!" class="text-reset">tenderloin meat</a></p>
                    <p><a href="#!" class="text-reset">garlic pepper chicken</a></p>
                    <p><a href="#!" class="text-reset">foodie special spice</a></p>
                    <p><a href="#!" class="text-reset">sirloin meat</a></p>
                </div>
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto ab-4">
                    <h6 class="text-uppercase fa-bold mb-4">contact</h6>
                    <p><i class="fa fa-home"></i>Foodie Finds</p>
                    <p><i class="fa fa-envelope"></i>foodiefinds@gmail.com</p>
                    <p><i class="fa fa-phone"></i>+91 9789998860</p>
                </div>
            </div>
        </div>
    </section>
    <div class="text-center p-4">
        &copy; 2023 copyrights <a class="text-reset fa-bold" href="#">Foodie_Finds.com</a>
    </div>
</footer>